<div class="notice"><%= notice %></div>
<div class="error" style="font-size: 1rem; width: 100%"><%= flash[:error] %></div>
<div class="success"><%= flash[:success] %></div>
<div class="alert"><%= alert %></div>